.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-row .form-group {
    flex: 1 0 200px; /* Adjust this value to change the width of the form elements */
    margin: 0.5em;
}

form {
    padding-bottom: 2rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    border: none;
}

.custom-button {
    margin-top: 2rem;
    height: 2.5rem;
}