<div>
    <div>
        <h2>Your Deck:</h2>
        <button>Clear deck</button>
    </div>
    <div class="deck">
        <ul>
            @foreach (var card in new List<object>())
            {
            <li>@card</li>
            }
        </ul>
    </div>
</div>